@model LibreriaFJDR.Models.Libro
@using LibreriaFJDR.Models;

@{
    List<Estado> estados = new LogicaEstado().ObtenerEstados();
    List<string> nombres = new LogicaEstado().ObtenerListNombres();
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("AgregarLibro", "Admin", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>AGREGAR LIBRO</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.ISBN, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ISBN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Titulo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Autor, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Autor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Autor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Sinopsis, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Sinopsis, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Sinopsis, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Precio, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Precio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Unidades, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Unidades, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Unidades, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Paginas, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Paginas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Paginas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.IMG, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.IMG, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IMG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Formato, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("formato", (List<SelectListItem>)new LogicaFormato().ObtenerSelectList(), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Estado, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("estado", (List<SelectListItem>)new LogicaEstado().ObtenerSelectList(), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Agregar" class="btn btn-default" />
                    </div>
                </div>

            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}