@using LibreriaFJDR.Models;
@using Microsoft.AspNet.Identity;
@model LibreriaFJDR.Models.Carrito
@{
    string iduser = User.Identity.GetUserId();
    LogicaCarrito logicaCarrito = new LogicaCarrito();
    LogicaLibro logicaLibro = new LogicaLibro();
    List<Libro> productos = logicaCarrito.ObtenerProductos(iduser);
    List<SelectListItem> formasPago = new List<SelectListItem>();
    Factura factura = new Factura(iduser);
    formasPago.Add(new SelectListItem() { Text = "Contrareembolso " });
    formasPago.Add(new SelectListItem() { Text = "Tarjetas de crédito" });
    formasPago.Add(new SelectListItem() { Text = "Transferencia electrónica" });
    DatosUsuario datos = new LogicaDatosUsuario().ObtenerDatos(iduser);
}
<head>
    <link rel="stylesheet" href="~/Content/StyleCarrito.css" />
</head>


@if (datos == null)
{
    @Html.ActionLink("No se han encontrado datos, son obligatorios para poder realizar la compra.", "MiCuenta", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
else
{
    using (Html.BeginForm("Print", "Home"))
    {
        <div  style="display: flex; width:100%; align-items: baseline">

            <label>Direccion : @datos.Direccion</label>
            <label>Nombre : @datos.Nombre @datos.Apellidos</label>
            <label>DNI : @datos.DNI</label>
            <label>Telefono : @datos.Telefono</label>
            @Html.DropDownList("formaPago", (List<SelectListItem>)formasPago, new { @class = "form-control" })
            @if (logicaLibro.ValidarStock(factura.ISBNCantidad))
            {
                @Html.Hidden("direccion", datos.Direccion)
                @Html.Hidden("nombre", datos.Nombre, datos.Apellidos)
                @Html.Hidden("dni", datos.DNI)
                @Html.Hidden("telefono", datos.Telefono)
                <input type="submit" value="Realizar Compra" class="btn btn-default" style="margin-top: 10px; border: 1px solid black;" />
            }
        </div>
    }
}



<table style=" width: 100%;">

    <tr>
        <th>PORTADA</th>
        <th>ISBN</th>
        <th>TITULO</th>
        <th>AUTOR</th>
        <th>PRECIO</th>
        <th>UNIDADES</th>
        <th>PRECIO TOTAL</th>
        <th>OPERACIONES</th>
    </tr>

    @foreach (Libro item in productos)
    {
        <tr>
            <td><img src=@item.IMG /></td>
            <td>@item.ISBN</td>
            <td>@item.Titulo</td>
            <td>@item.Autor</td>
            <td>@item.Precio €</td>

            @{
                float precioTotal = item.Precio * @logicaCarrito.ObtenerCantidad(iduser, item.ISBN);
            }

            @if (logicaCarrito.ObtenerCantidad(iduser, item.ISBN) <= logicaLibro.ObtenerCantidad(item.ISBN))
            {
                <td style="color:forestgreen">@logicaCarrito.ObtenerCantidad(iduser, item.ISBN)</td>
            }
            else
            {
                <td style="color:red">@logicaCarrito.ObtenerCantidad(iduser, item.ISBN)/@logicaLibro.ObtenerCantidad(item.ISBN)</td>
            }
            <td class="precioTotal">@precioTotal €</td>

            <td class="operaciones">

                @using (Html.BeginForm("SumarCantidad", "Carrito", FormMethod.Get))
                {
                    @Html.Hidden("isbn", item.ISBN)
                    <input type="submit" style="width:30px" value="+" />
                }
                @using (Html.BeginForm("RestarCantidad", "Carrito", FormMethod.Get))
                {
                    @Html.Hidden("isbn", item.ISBN)
                    <input type="submit" style="width:30px" value="-" />
                }
                @using (Html.BeginForm("QuitarProducto", "Carrito", FormMethod.Get))
                {
                    @Html.Hidden("isbn", item.ISBN)
                    <input type="submit" value="Quitar Producto" />
                }
            </td>
        </tr>
    }

</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}