@using LibreriaFJDR.Models;
@using Microsoft.AspNet.Identity;

@{
    Layout = null;
    Factura factura = ViewBag.factura;
}

<head>
    <link rel="stylesheet" href="~/Content/StyleCarrito.css" />
    <style>
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        * {
            font-family: monospace;
            font-size: 18px;
        }
    </style>
</head>

<img style="width: 175px; height:130px" src="~/img/logo.png" />

<br />
<br />
<h3>Datos Empresa</h3>
<div> NOMBRE : <label style="color: forestgreen">BOOK SHOP</label></div>
<div> CIF : <label style="color: forestgreen">@factura.CIF</label></div>
<hr />
<h3>Datos Cliente</h3>
<div> DNI : <label style="color: blue"> @factura.DNI </label></div>
<div> Nombre : <label style="color: blue"> @factura.Nombre </label></div>
<div> Cliente : <label style="color: blue"> @factura.Email</label></div>
<div> Direccion : <label style="color: blue"> @factura.Direccion</label></div>
<div> Forma de pago : <label style="color: blue"> @factura.FormaPago</label></div>
<hr />
<table style=" width: 100% ">

    <tr>
        <th>PORTADA</th>
        <th>ISBN</th>
        <th>TITULO</th>
        <th>AUTOR</th>
        <th>PRECIO</th>
        <th>UNIDADES</th>
        <th>PRECIO TOTAL</th>
    </tr>

    @foreach (Libro item in factura.Libros)
    {
        <tr>
            <td><img src=@item.IMG /></td>
            <td>@item.ISBN</td>
            <td>@item.Titulo</td>
            <td>@item.Autor</td>
            <td>@item.Precio €</td>
            <td>@factura.ObtenerCantidad(item.ISBN)</td>
            @{
                float preciototal = factura.ObtenerCantidad(item.ISBN) * item.Precio;
            }
            <td class="precioTotal">@preciototal€</td>

        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>TOTAL => </td>
        <td style="color: orangered">@factura.PrecioTotal€</td>

    </tr>

</table>

<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}